html, body{
	margin:0px; 
	padding:0px;
	background-color: black;
	/*background-image: url("mini_R34.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.header{
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(20%);
	white-space: nowrap;
	vertical-align: top;
	text-align: center;
	background-color:rgba(184, 174, 174, 0.164);

}

.header-text{
	padding-top: calc(7%);
	padding-bottom: calc(3%);
	font-family: 'Lato', sans-serif;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}



.photo{
	color:rgb(74,70,76);
}

.baum{
	color: white;
} 

.pages {
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(70%);
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
}

.nav-bar{
	padding: 0;
	padding-top: calc(15%);
	display: flex;
	list-style-type: none;
	text-align: center;
	vertical-align: center;
}

.nav-bar li{
	text-align: center;
	width: calc(33.33%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}
 
.nav-bar li:hover { 
	cursor: crosshair;
	transition: background 0.5s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}

.abstract li{
	text-align: center;
	width: calc(25%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}

.abstract li:hover { 
	cursor: crosshair;
	transition: background 0.5s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}


