html, body{
	margin:0px; 
	padding:0px;
	background-color: black;
	/*background-image: url("mini_R34.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.header{
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(20%);
	white-space: nowrap;
	vertical-align: bottom;
	text-align: center;
	background-color:rgba(184, 174, 174, 0.164);
	display: flex;
}

.header-text{
	font-family: 'Lato', sans-serif;
	margin: 0;
	/*display: table-cell;
	vertical-align: bottom;*/
	width: calc(100%);
	font-size:3vw;
	align-self: flex-end;	
}


.photo{
	color:rgb(74,70,76);
}

.baum{
	color: white;
} 

.pages {
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(70%);
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
}

.nav-bar{
	padding: 0;
	padding-top: calc(15%);
	display: flex;
	list-style-type: none;
	text-align: center;
	vertical-align: center;
	font-size: 1.5vmax;
}

.nav-bar li{
	text-align: center;
	width: calc(33.33%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}
 
.nav-bar li:hover { 
	cursor: crosshair;
	transition: background 1s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}

.abstract li{
	text-align: center;
	width: calc(25%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}

.abstract li:hover { 
	cursor: crosshair;
	transition: background 0.5s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}


@media screen and (max-width: 1600px) {
	.header-text{
		font-size:5vmax;
	}

	.nav-bar{
		font-size: 2.25vmax;
	}

  }