html, body{
	margin:0px; 
    padding:0px;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

/* linkes to navigate to different pages*/
.pages {
	background: rgba(184, 174, 174, 0.164);
    padding: 0;
    padding-top: calc(2%); 
    padding-bottom: calc(2%);
	margin: 0px;
	width: calc(100%);
	height: calc(8%);
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
}

.nav-bar{
	padding: 0;
	display: flex;
	list-style-type: none;
	text-align: center;
	vertical-align: center;
}

.nav-bar li{
	text-align: center;
	width: calc(33.33%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}
 
.nav-bar li:hover { 
	cursor: crosshair;
	transition: background 1s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}


/* manages the photo style */

.photos {
    padding: 0;
	margin: 0;
	width: calc(100%);
	white-space: nowrap;
	text-align: center;
    vertical-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}

.photo-list {
    padding: 0;
    margin: 0;
    width: calc(100%);
    text-align: center;
    align-content: center;
}

.photo-container-wide {
    padding-top: calc(5%);
    padding-bottom: calc(5%);
    padding-left: calc(17.5%);
    padding-right: calc(17.5%);
    margin: 0;
    height: calc(80%);
    width: calc(65%);
    text-align: center;
    align-content: center;
}

.photo-container-tall {
    padding-top: calc(5%);
    padding-bottom: calc(5%);
    padding-left: calc(17.5%);
    padding-right: calc(17.5%);
    margin: 0;
    height: calc(95%);
    width: calc(65%);
    text-align: center;
    align-content: center;
}

/*idk what's below here*/
.me-div{
	margin: 0px;
    padding: 0px;
    display: inline-block;
	width: calc(28%);
	height: calc(100%);
	white-space: nowrap;
	vertical-align: top;
}

.drp-div{
	margin: 0px;
    padding: 0px;
    display: inline-block;
	width: calc(70%);
	height: calc(100%);
	white-space: nowrap;
	vertical-align: top;
	word-wrap: break-word;
}
.me{
	display: inline-block;
	padding: 2em;
}

.drp{
	padding: 2em;
	color: white;
	font-family: 'Lato', sans-serif;
	word-wrap: break-word;
}

.abstract li{
	text-align: center;
	width: calc(25%);
	margin: 0em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}

.abstract li:hover { 
	cursor: crosshair;
	transition: background 0.5s ease 0s;	
	background: rgb(74,70,76);
	color: black;
}

.series { padding: 0;
	margin: 0;
	width: calc(100%);
	text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}}